<form class="form-signin">
  <h2 class="form-signin-heading">inicia sesión</h2>

  <input type="text"  name="email" class="form-control" ng-model="user.email" placeholder="Email address" required autofocus>
  <input type="password" id="inputPassword" name="pass" class="form-control" ng-model="user.pass" placeholder="Password" required>

  <input type="submit" class="btn btn-lg btn-primary btn-block" value="entrar" ng-click="loguear(user)">
  
</form>
<div ><a href="#/registro" style="color:#000">registrarme</a><div>
 <p color:"#fff">{{info}}</p>
 


  

